https://www.kaggle.com/datasets/vishakhdapat/price-of-used-toyota-corolla-cars

# 1. Import Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/var/folders/cp/73rsjcf17vl86y5p35qds9kw0000gn/T/ipykernel_98614/694500839.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# 2. Load the Dataset

In [3]:
df = pd.read_csv("data/ToyotaCorolla.csv")

## Check of Null Values

In [4]:
df.isna().sum()

Id                   0
Model                0
Price                0
Age_08_04            0
Mfg_Month            0
Mfg_Year             0
KM                   0
Fuel_Type            0
HP                   0
Met_Color            0
Color                0
Automatic            0
CC                   0
Doors                0
Cylinders            0
Gears                0
Quarterly_Tax        0
Weight               0
Mfr_Guarantee        0
BOVAG_Guarantee      0
Guarantee_Period     0
ABS                  0
Airbag_1             0
Airbag_2             0
Airco                0
Automatic_airco      0
Boardcomputer        0
CD_Player            0
Central_Lock         0
Powered_Windows      0
Power_Steering       0
Radio                0
Mistlamps            0
Sport_Model          0
Backseat_Divider     0
Metallic_Rim         0
Radio_cassette       0
Parking_Assistant    0
Tow_Bar              0
dtype: int64

There is no Null values in the data set, so look for duplicates and then proceed to clean some of the columns.

## Check for Duplicates

In [5]:
df.duplicated().sum()

0

There is no duplicated rows in the dataset, so now to go and get rid of unecessary columns.

## Cleaning the Dataset

In [6]:
df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar'],
      dtype='object')

I am dropping Age_08_04 since that is only the age from manufactured date to August 2004. I am also dropping CC because HP is more relevant when talking about cars. I am dropping ID because there is no purpose when an index does the smae thing. I am also goign to drop all of the guarantees columns because they have all expired by now. I also think that the quarterly tax column is usesless because the quarterly tax when this data was inputted has differed from now.

In [7]:
df = df[['Model', 'Price', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'Doors',
       'Cylinders', 'Gears',  'Weight',
       'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar']]

Looking for the attributes of the Toyota Corolla with the lowest price.

In [ ]:
print(df['KM'].max(), df["KM"].min(), df["KM"].mean())
print(df['Price'].max(), df["Price"].min(), df["Price"].mean())
print(df['Price'].loc[df['KM'] == df['KM'].max()])
print(df.loc[df['Price'] == df['Price'].min()])